<nav class="navbar navbar-default navbar-custom " background_color=gold>
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle  navbar-right" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
                <a class="navbar-brand" href="#">LOGO</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li id="home"><a href="/">HOME</a></li>
                    <li id="about"><a href="/about">ABOUT US</a></li>
                    <li id="contact"><a href="/contact">CONTACT US</a></li>
                    <li id="Loginout">
                        <% if(auth) { %>
                            <a href="/logout">LOGOUT</a>
                            <% } else { %>
                                <a href="/login">LOGIN/ SIGN UP</a>
                                <% } %>
            </div>
            </li>
            </ul>
        </div>
    </div>
    </div>
</nav>