<!DOCTYPE html>
<html>
  <head>
	<!-- Page Title -->
    <title>Rewards</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
		
  </head>
  <body>
  	<% include partials/menu %>
  	<div id="rewards" class="section">
		<div class="container">
			<h2>Favourite Restaurants</h2>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Restaurant</th>
						<th scope="col">Address</th>
						<th scope="col">Unfavourite</th>
					</tr>
				</thead>
				<tbody>
					<% for(var i=0; i<data.length; i++) { %>
					<tr>
						<td><%= data[i].rname%></td>
						<td><%= data[i].address%></td>
						<td><input type='button' class='Unfavourite' value='Unfavourite'></td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
	</div>
  </body>
</html>
